<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation=
                     "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">


    <global-method-security secured-annotations="enabled" />


    <http auto-config="true" use-expressions="true">

        <csrf disabled="true"></csrf>

        <intercept-url pattern="/login.zul" access="permitAll()" />
        <intercept-url pattern="/index.zul" access="permitAll()" />
        <intercept-url pattern="/resources/**" access="permitAll()"/>

        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />

        <form-login
                login-page="/login.zul"
                login-processing-url="/j_spring_security_check"
                username-parameter="j_username"
                password-parameter="j_password"
        />

        <logout logout-success-url="/index.zul" invalidate-session="true" />

        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    </http>


    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailsServiceImpl">
            <!--<password-encoder hash="md5" />-->
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="UserDetailsServiceImpl" class="org.angelholm.service.impl.UserDetailsServiceImpl" />

</beans:beans>